<div>
<div class="card">
        <img src="https://www.zvxf.top/img/1.jpeg" class="card-img-top site-author-image">
    <div class="card-body">

      <h5 class="card-title">作者：<%- theme.author%></h5>
      <h6 class="card-subtitle mb-2 text-muted">邮箱：zvxf@outlook.com</h6>

      <p class="card-text mb-2">这是一个极简的Hexo博客，使用了bootstrap.min.css，是我研究了一天写出来的，所以很看起来简陋。</p>

    </div>
  </div>
  <div class="my-5">

  </div>
</div>