<div class=" navbar fixed-bottom text-white navbar-dark bg-dark ">
    
    <div class="container">
           
    
            <ul class="navbar-nav">
                    <li class="nav-item">
                           <div class="nav-link text-white"> &copy; <%= date(new Date(), 'YYYY') %> <%= __('By') %>
                            <a class="text-white" href="https://github.com/zvxf">
                            <%= config.author  %></a> </div>
                            
                        </li>
        
                
            </ul>
  
    </div>
</div>